<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Retailers</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Medicine Name
                </th>
                <th>
                  Medicine Quantity
                </th>
                <th>
                  OrderId
                </th>
                <th class="text-right">
                  Unit
                </th>
              </thead>
              <tbody>
                <tr>
                  <td>                    Dakota Rice
                      Calpol
                  </td>
                  <td>
                    200
                  </td>
                  <td>
                      1528646724775
                  </td>
                  <td class="text-right">
                    Piece
                  </td>
                </tr>
                <tr>
                  <td>
                    Betadine
                  </td>
                  <td>
                    5
                  </td>
                  <td>
                      1529241785548
                  </td>
                  <td class="text-right">
                    Tubes
                  </td>
                </tr>
                <tr>
                  <td>
                    Duphalac Oral Solution 150 ml
                  </td>
                  <td>
                    6
                  </td>
                  <td>
                    1532118440934
                  </td>
                  <td class="text-right">
                      Strips
                  </td>
                </tr>
                <tr>
                  <td>
                      BETADINE 5% W/W SOLUTION
                  </td>
                  <td>
                    25
                  </td>
                  <td>
                    1532154480401
                  </td>
                  <td class="text-right">
                    Bottle
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title"> Stockists</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    Medicine Name
                  </th>
                  <th>
                    Medicine Quantity
                  </th>
                  <th>
                    OrderId
                  </th>
                  <th class="text-right">
                    Unit
                  </th>
                </thead>
                <tbody>
                  <tr>
                    <td>                    Dakota Rice
                        Calpol
                    </td>
                    <td>
                      200
                    </td>
                    <td>
                        1528646724775
                    </td>
                    <td class="text-right">
                      Piece
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Betadine
                    </td>
                    <td>
                      5
                    </td>
                    <td>
                        1529241785548
                    </td>
                    <td class="text-right">
                      Tubes
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Duphalac Oral Solution 150 ml
                    </td>
                    <td>
                      6
                    </td>
                    <td>
                      1532118440934
                    </td>
                    <td class="text-right">
                        Strips
                    </td>
                  </tr>
                  <tr>
                    <td>
                        BETADINE 5% W/W SOLUTION
                    </td>
                    <td>
                      25
                    </td>
                    <td>
                      1532154480401
                    </td>
                    <td class="text-right">
                      Bottle
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
